---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';

type Props = { pub: CollectionEntry<'pubs'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { pub, class: className, headingLevel = 'h2' } = Astro.props;
const { title, description, author, publishDate, publishDesc, additionalInfo } = pub.data;
const TitleTag = headingLevel;
---

<a class:list={['flex justify-between items-start gap-8 group', className]} href={`/pubs/${pub.slug}/`}>
	<div class="grow">
		<TitleTag
			class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
		>
			{title}
		</TitleTag>
		<div>
			<span>{author}</span>
		</div>
		{additionalInfo && <span class="text-sm opacity-50">({additionalInfo})</span>}
		<div>
			<span class="opacity-50 text-sm">{publishDesc} ({publishDate.getFullYear()})</span>
		</div>
		{description && <div class="mt-1 text-sm leading-normal">{description}</div>}
	</div>
	<div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0">
		View More <ArrowRight class="fill-current w-4 h-4" />
	</div>
</a>
