---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';
import SmallButton from './SmallButton.astro';
import siteConfig from '../data/site-config';
import { Image } from 'astro:assets';

type Props = { pub: CollectionEntry<'pubs'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { pub, class: className, headingLevel = 'h2' } = Astro.props;
const { title, description, author, publishDate, publishDesc, additionalInfo, links, thumbnail } = pub.data;
const TitleTag = headingLevel;
const pubPageUrl = `/pubs/${pub.slug}/`;
const thumbnailUrl = thumbnail ?? siteConfig.pubsFallbackThumbnail;
---

<div class:list={['flex flex-col sm:flex-row justify-between items-start gap-8 group', className]}>
	<div class="grow">
		<div class="sm:hidden mb-4 rounded-lg overflow-hidden">
			<Image src={thumbnailUrl} alt={`Cover for ${title}`} class="object-cover aspect-[16/10] w-full" width={640} height={400} loading="eager" />
		</div>
		<a href={pubPageUrl}>
			<TitleTag
				class="text-lg leading-tight font-serif font-semibold group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-xl"
			>
				{title}
			</TitleTag>
		</a>
		<div class="mt-1">
			{author}
		</div>
		<div class="mt-1 opacity-70 text-sm">
			{publishDesc} ({publishDate.getFullYear()})
		</div>
		{additionalInfo && <div class="mt-1 text-sm opacity-50">({additionalInfo})</div>}
		<div class="flex items-end mt-1 gap-4">
			{
				links && (
					<div class="flex gap-2">
						{links.map(({ label, url }) => (
							<SmallButton href={url}>{label}</SmallButton>
						))}
					</div>
				)
			}
			<a href={pubPageUrl} class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center">
				View More <ArrowRight class="fill-current w-4 h-4" />
			</a>
		</div>
		{description && <div class="mt-1 text-sm leading-normal">{description}</div>}
	</div>
	<Image
		src={thumbnailUrl}
		alt={`Cover for ${title}`}
		class="aspect-[16/10] object-cover rounded-lg hidden sm:block sm:w-40 md:w-48 lg:w-56"
		width={640}
		height={400}
		loading="eager"
	/>
</div>
